

/* INDEX HTML PAGE */
/*title section*/

.logoName{
  text-align: center;
  padding: 5% 10%;
}

/*description section*/
#description{
  padding-bottom: 5%;
}

.description-text-container{
  text-align: center;
}
.description-text{
  padding: 0 3%;
}
/*buttons section*/
#buttons{
  text-align: center;
  padding: 6% 20% 6%;
}
.text-btn{
  line-height: 1.5rem;
  padding-bottom: 3%;
}
.sign-btn{
  margin:0 1.5%;
}

/*footer section*/
#footer{
  margin-top: 3%;
  text-align: center;
  background-color: #EEEEEE;
  line-height: 3;


}
.footer-img{
  color: #11999E;
  margin: 0px 30px;
  color: black;
  text-decoration: none;
}





/* LOG IN HTML PAGE*/

/* logo section*/
#logo-login{
  padding: 2rem 3%;
}

/* LOGIN SECTION */
#logIn{
    padding: 0 3%;
}
.logIn{
  padding: 15% 10%;
}
.login-form{
  padding: 0 0 2%;
  line-height: 2;
}

.login-form-container{
  padding: 0 15%;
}


/* SIGN IN HTML PAGE*/

/* logo section*/
#logo-signin{
  text-align: center;
  padding: 2rem 3% 5rem;
}

/*SIGN IN SECTION */

::-webkit-input-placeholder {
   text-align: center;

}

.date-input {
  text-align: center;
}

.signin-form-container{
  padding: 0 30%;
}
.signin-form{
  margin-bottom: 10px;
}
.signin-btn{
  margin-top: 30px;
}
