
/*title section*/

.logoName{
  text-align: center;
  padding: 5% 10%;
}

/*description section*/
#description{
  padding-bottom: 5%;
}

.description-text{
  text-align: center;
}

/*buttons section*/
#buttons{
  text-align: center;
  padding: 6% 20% 6%;
}
.text-btn{
  line-height: 1.5rem;
  padding-bottom: 3%;
}
.sign-btn{
  margin:0 1.5%;
}

/*footer section*/
#footer{
  margin-top: 3%;
  text-align: center;
  background-color: #EEEEEE;
  line-height: 3;


}
.footer-img{
  color: #11999E;
  margin: 0px 30px;
  color: black;
  text-decoration: none;
}
